<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #map id="map" style="height: 100%;"> </div>
  <h1> nao funciona </h1>
</ion-content>
